name: ublue akmods 43 lto
on:
  merge_group:
  pull_request:
    branches:
      - lto
    paths-ignore:
      - '**.md'
  workflow_dispatch:

jobs:
  kernel-akmods:
    uses: ./.github/workflows/reusable-build.yml
    secrets: inherit
    strategy:
      fail-fast: false
      matrix:
        fedora_version:
          - 43
        kernel_flavor:
          - cachyos-lto
    with:
      fedora_version: ${{ matrix.fedora_version }}
      kernel_flavor: ${{ matrix.kernel_flavor }}
